
@{
    ViewBag.Title = "Index";
}

<h2>Connexion</h2>

<input id="login-username" type="text" name="loginUsername" required data-msg="Please enter your username" class="input-material">
<label for="login-username" class="label-material">Username</label>

<input id="login-password" type="password" name="loginPassword" required data-msg="Please enter your password" class="input-material">
<label for="login-password" class="label-material">Password</label> 

<input type=" submit" class="btn btn-primary" id="login" value="Se connecter"/>