@model IEnumerable<Projet_Charniau_Nelson.Models.Comfact>
    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>
    <h2>Mes commandes</h2>



    @foreach (var item in Model)
    {
        <dd> Commande : @Html.DisplayFor(modelItem => item.ID)</dd>
        <dd>Effectuée le : @Html.DisplayFor(modelItem => item.DateCom)</dd>

        foreach (var item2 in item.Detail)
        {
                <dd> - @Html.DisplayFor(modelItem => item2.Game.Name) @Html.DisplayFor(modelItem => item2.Game.price)€</dd>
        }


    }
